.card {
  min-height: 400px;
}

.card-body h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(215, 74, 31);
}

.font-highlight {
  font-style: italic;
  color: rgb(215, 74, 31);
}

.card-img-wrapper{
  overflow: hidden;
  position: relative;
}

.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  color: rgb(243, 196, 79);
  opaCity: .7;
}

.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px
}

.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opaCity: 0;
}

.card-img-wrapper:hover .member-icons{
  bottom: 0;
  opaCity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
}
