.ng-invalid.ng-touched {
  border-color: rgb(243, 87, 79);
}

.error-block {
  color: rgb(243, 79, 79);
}

.btn-group > label[ng-reflect-btn-radio] {
  border-radius: 44px;
  padding: 0 15px;
  line-height: 30px;
}

.card-header > h1, .card-header > h2, .card-header > h3 {
  color: rgb(212, 65, 65);
}

.card-header {
  height: 42px;
  padding: 4px 10px !important;
  background-color: rgb(243, 196, 79) !important;
}

.card-title {
  color:rgb(212, 65, 65);
}
