<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/office.jpeg">
      </div>
      <div class="card-body">
        <h1 class="card-title"> Rent or Buy</h1>
        <div>
            <strong> Waterhouse Square</strong>
        </div>
        <div>
           <strong>in London</strong>
        </div> <hr>
        <div>
            <strong>Build Area:  </strong> 1200
           Sqft
        </div>

        <div>
            <strong>Carpet Area: </strong>900
            Sqft
        </div>
        <div>
            <strong>Furnishing Type: </strong>Fully

        </div>
        <div>
            <strong>Available Now </strong>
            <span *ngIf="">Purchase</span>
            <span *ngIf="">Rent</span>
        </div>

    </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-warning">Like</button>
          <button class="btn btn-danger">Message</button>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>Waterhouse Square</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>6</p>
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>8</p>
                  </div>

                  <div class="heading">
                      <strong>Posession</strong>
                      <p>Available now</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>South</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p>1</p>
                      <p *ngIf="">No</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>Contact for more information</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>200</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <p>A creative oasis amid the metropolitan buzz of one of London’s
                        hottest neighborhoods,including onsite showers and convenient bike
                        storage. After work, the West End provides a perfect backdrop
                        for celebrating team wins in style. Catch a train at nearby and
                        Farringdon stations to get where you need to go quickly.
                        For a beautiful office space that puts you in the center of the
                        action, schedule a visit to  Waterhouse Square today.
                      </p>
                  </div>
              </div>
            </div>
        </tab>
        <tab heading="Address">
          <div class="col-sm-12">
            <h1>Address</h1>
            <div class="heading">
                <strong></strong><br/>
                <strong> 1 Waterhouse Square</strong><br/>
                <strong> London</strong>
            </div>
        </div>

        </tab>
        <tab heading="Photos">
          <p> Only for registered user!</p>
        </tab>
        <tab heading="Contact">
          <h1>Contact Detail</h1>
          Only for registered user!
        </tab>
      </tabset>
    </div>
  </div>
</div>
