<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf= "property.Image" class="card-img-top" src="assets/images/{{property.Image}}.jpeg">
        <img *ngIf= "!property.Image" class="card-img-top" src="assets/images/office.jpeg">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{property.Name}}</h1>
        <div>
            <strong> {{property.BHK}}
              {{property.PType}} For £ {{property.Price}}</strong>
        </div>
        <div>
           <strong>in {{property.City}}</strong>
        </div> <hr>
        <div>
            <strong>Build Area:  </strong>  {{property.BuiltArea}}
           Sqft
        </div>

        <div>
            <strong>Storage Area: </strong>
            {{property.carpetarea}}
            Sqft
        </div>
        <div>
            <strong>Furnishing Type: </strong>
            {{property.FType}}
        </div>
        <div>
            <strong>Available Now </strong>
            <span *ngIf="property.sellRent == 1">Purchase</span>
            <span *ngIf="property.sellRent == 2">Rent</span>
        </div>

    </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-warning">Like</button>
          <button type="submit" class="btn btn-danger">Enquire!</button>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.Name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{property.floorNo}}  {{property.TotalFloor}}</p>
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>{{property.age}}</p>
                  </div>

                  <div class="heading">
                      <strong>Possession</strong>
                      <p>{{property.Possession}}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{property.MainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p *ngIf="property.gated">Yes</p>
                      <p *ngIf="!property.gated">No</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.Security}}</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.Maintenance}}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <p>{{property.description}}
                      </p>
                  </div>
              </div>
            </div>
        </tab>
        <tab heading="Address">
          <div class="col-sm-12">
            <h1>Address</h1>
            <div class="heading">
                <strong></strong><br/>
                <strong>{{property.Address}}</strong><br/>
                <strong>{{property.Address2}}</strong><br/>
                <strong>{{property.City}}</strong>
            </div>
        </div>

        </tab>
        <tab heading="Photos">
          <p></p>
          <carousel>
            <slide>
              <img src="assets/images/prop-1.jpeg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-2.jpeg" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-3.jpeg" alt="third slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-4.jpeg" alt="fourth slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-5.jpeg" alt="fifth slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-7.jpeg" alt="sixth slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-8.jpeg" alt="seventh slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-11.jpeg" alt="ninth slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/images/prop-12.jpeg" alt="tenth slide" style="display: block; width: 100%;">
            </slide>
          </carousel>






        </tab>
        <tab heading="Contact">
          <h1>Contact Detail</h1>
          Only for registered user!
        </tab>
      </tabset>
    </div>
  </div>
</div>
